<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit user name</title>
</head>
<body>
    <h1>User email is:<%=user.email%></h1>
    <form method="post" action="/home/<%=user.id%>?_method=PATCH">
        <textarea name="username" id=""><%=user.username%></textarea>
        <br><input type="password" name="pass" placeholder="enter password">
        <button>Sbmit</button>
    </form>
</body>
</html>