<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1><%=1+9%></h1>
    <h1>vijay here</h1>
    <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum laborum sed ipsam quod mollitia. Numquam illo ipsa recusandae. Ullam dolor nam assumenda ducimus eos, cumque totam accusantium eum laborum voluptatibus cupiditate cum minus animi porro.</h2>
</body>
</html>